*/*fastq
*/*bam
RAW_DATA
clean_reads
genome
genome/Cannabis_144
genome/Cannabis_30/
genome/Cannabis_70/
genome/Cannabis_90/
slurms/
fastp.html
alignment_STAR/*_SJ.out.tab
alignment_STAR/*_Log.progress.out
alignment_STAR/*_Log.out

.Rproj.user
.Rhistory
